html {
    height: 100%;
    width: 100%;
  }
  body {
    font-family: 'Roboto', sans-serif;
    size: 1825px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
      
  .container {
      display: flex;
  }
  
  .mainContent {
      flex: 2;
      /* Add your own styles for main content area */
  }
  
  .sidebar {
      flex: 1;
      background-color: #f0f0f0;
      padding: 10px;
      display: none; /* Initially hide the sidebar */
  }
  
  #filterButton {
      margin: 10px;
  }
  
/* This is a filter desgin in progress */

